{% load compress %}
<!-- templates/add_card.html -->
{% load static %}

<!DOCTYPE html>
<html class="dark" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ siteName }} - Add Card</title>
    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <!-- <script src="https://js.sentry-cdn.com/dfc61382bbb4358a8fc26b798799df02.min.js" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/@tailwindcss/browser@4.0.12/dist/index.global.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/cropperjs@1.5.12/dist/cropper.min.js"></script>
    <script type="module" src="{% static 'js/debug-manager.js' %}"></script>
    <script type="module" src="{% static 'js/addCard_beta.js' %}"></script>
    <link href="{% static 'css/addCard.css' %}" rel="stylesheet">

    <style>
        /* Flowbite fixes */
        @layer base {
            button,
            [role='button'] {
                cursor: pointer;
            }

            button:disabled,
            [role='button']:disabled {
                cursor: default;
            }
        }
    </style>
</head>
<body class="bg-gray-900">
<div class="antialiased bg-gray-50 dark:bg-gray-900">
    <!-- Navbar -->
    {% include "nav/header.html" %}

    <!-- Main content -->
    <main class="p-4 md:ml-auto h-full pt-1">
        <div class="container mx-auto px-4 py-8">
            <h1 class="text-4xl font-bold mb-6 dark:text-white text-center">Add Card to Collection</h1>

            <!-- Stepper -->
            {% include "beta_add_card/add_card/stepper.html" %}

            <!-- Form Navigation Button -->
            <div class="grid gap-6 md:grid-cols-2 mb-4">
                <button type="button" id="btnPrev"
                        class="w-full bg-blue-600 text-white p-2.5 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
                    Previous
                </button>
                <button type="button" id="btnNext"
                        class="w-full bg-blue-600 text-white p-2.5 rounded-lg hover:bg-blue-700 focus:ring-4 focus:ring-blue-300 dark:focus:ring-blue-800">
                    Next
                </button>
            </div>

            <!-- Form -->
            <form id="sportsCardForm" enctype="multipart/form-data" method="post" class="space-y-8" autocomplete="off">
                {% csrf_token %}
                <div id="addCardStep1">
                    {% include 'beta_add_card/add_card/step1.html' %}
                </div>
                <div id="addCardStep2" class="hidden">
                    {% include 'beta_add_card/add_card/step2.html' %}
                </div>
                <div id="addCardStep3" class="hidden">
                    {% include 'beta_add_card/add_card/step3.html' %}
                </div>
                <div id="addCardStep4" class="hidden">
                    {% include 'beta_add_card/add_card/step4.html' %}
                </div>
                <div id="addCardStep5" class="hidden">
                    {% include 'beta_add_card/add_card/step5.html' %}
                </div>
                <div id="addCardStep6" class="hidden">
                    {% include 'beta_add_card/add_card/step6.html' %}
                </div>
                <div id="addCardStep7" class="hidden">
                    {% include 'beta_add_card/add_card/step7.html' %}
                </div>
                <div id="addCardStep8" class="hidden">
                    {% include 'beta_add_card/add_card/step8.html' %}
                </div>
            </form>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>

</body>
</html>