<!-- Set Information -->

<!-- Search Box -->
<div class="py-3">
    <label for="set"
           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Set</label>
    <input type="text" id="setName" name="setName"
           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white"
           placeholder="e.g., 2023 Panini Donruss Football" required>
</div>

<!-- Results table -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table id="setSearchResultTable" class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-6 py-3">
                Set Name
            </th>
            <th scope="col" class="px-6 py-3">
                Year
            </th>
            <th scope="col" class="px-6 py-3">
                Sport
            </th>
            <th scope="col" class="px-6 py-3">
                <span class="sr-only">Select</span>
            </th>
        </tr>
        </thead>
        <tbody id="setResultsTable">
        <!-- Results will be populated dynamically -->
        </tbody>
    </table>
</div>
{% include 'beta_add_card/add_card/modals/step1/addset.html' %}