<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<!DOCTYPE html>
<html class="dark" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="description">
    <meta name="keywords" content="keywords">
    <meta name="author" content="author">

    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>{{ siteName }} - {{ pageTitle }}</title>

    <link href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css" rel="stylesheet"/>

</head>

<body class="bg-gray-900">

<!-- Add this -->
<div class="antialiased bg-gray-50 dark:bg-gray-900">
    <!-- Navbar -->
    {% include "nav/header.html" %}

    <!-- Sidebar -->
    {% include "nav/sidebar.html" %}

    <!-- Main content -->
    <main class="p-4 md:ml-64 h-auto pt-20">
        <div class="container mx-auto px-4 py-8">
            <h1 class="text-3xl font-bold mb-6 dark:text-white">Add Card to Collection</h1>
            <form>
                <div class="mb-6">
                    <label for="setName"
                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Set</label>
                    <input type="text" id="setName"
                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                           placeholder="2023 Panini Donruss" required/>
                </div>
                <div class="grid gap-6 mb-6 md:grid-cols-3">
                    <div>
                        <label for="cardNum" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Card
                            #</label>
                        <input type="text" id="cardNum"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
                               focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700
                               dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500
                               dark:focus:border-blue-500"
                               placeholder="Card #" required/>
                    </div>
                    <div>
                        <label for="playerFirstName"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Player First
                            name</label>
                        <input type="text" id="playerFirstName"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Player First Name" required/>
                    </div>
                    <div>
                        <label for="playerLastName"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Player Last
                            name</label>
                        <input type="text" id="playerLastName"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                               placeholder="Player Last Name" required/>
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>

<script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
</body>

</html>